[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
numpy = "*"
pandas = "*"
joblib = "*"
streamlit = "*"
bs4 = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.9"
